html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

nav ul li {
  margin: 0;
  padding: 0;
  width: 100%;

}

nav ul li img {
  height: 60px;
}

nav ul li a {
  text-decoration: none;
  color: #eeeeee;
  display: block;
  padding: 10px;
  background-color: rgb(170, 174, 219);
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
}
nav ul li a:hover {
  background-color:  rgb(248, 248, 72);
  color: rgb(170, 174, 219);
}

.main ul li a:hover {
  color: rgb(223, 223, 179);
}
.main {
  width: 100%;
  position: relative;
}
.logoArea {
  width: 10px;
  height: 10px;
  position: absolute;
}
header {
  padding: 10px;
  height: 200px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.headerText {
  position: relative;
}

.section {
  font-size: 40px;
  border: 1px black;
  box-shadow: 5px 10px 12px black;
  background-color: rgb(248, 248, 72);
  height: 80px;
  width: 600px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 50px;
}

.section,
h4 {
  margin-left: auto;
  margin-right: auto;
}
.text {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  width: auto;
}
p.text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}


.social ul {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}
.social ul a {
  text-decoration: none;
}
footer {
  background: linear-gradient(to bottom, #f9f9f9,#8878e2 );
  padding: 20px;
}

.footer-links a:hover {
  color: #ffd900;
  cursor: pointer;
}
.footer-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  font-family: "Syne", sans-serif;
}
.footer-content li {
  line-height: 1.5em;
}
.footer-img img {
  width: 130px;
  padding-top: 10px;
}
.contact ul li {
  color: #313346;
}
.footer-bottom {
  font-family: "Syne", sans-serif;
  text-align: center;
  color: #ffd900;
}
.icon {
  margin: 5px;
  padding: 5px;
  font-size: 1.6em;
  color: rgb(173, 173, 224);
}
.icon:hover {
  color: white;
}
.student {
  margin: 0px;
  padding: 0;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.intro {
  font-size: 30px;
  text-align: center;
  align-items: center;
  display: flex;
  margin: 50px;
  justify-content: center;
}
p.intro {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.introImage {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url(./Steam\ Images/Background.png);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  height: 500px;
  width: 100%;
}
.responsive {
  max-width: 100%;
  height: auto;
  
}
.container {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  background-image: url(./Steam\ Images/background2.png);
  background-size: 100%;
  height: 300px;
  background-attachment: fixed;
  background-position: center;
}

.container p {
  flex: 1 0 70%;
  padding: 10px 40px 12px 14px;
  text-align: center;
  margin: auto;  
}

.container aside {
  flex: 0 1 30%;
}

.container2 {
	font-size: 30px;
  display: flex;
  flex-direction: row;
}

.imageclass {
   float:left;
   text-align: center;
	 width:200px;
	 height:200px;
}
.clear {
  margin: 50px;
  width: auto;
  clear: both;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  float: none;
}
.media {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 60px 20px 0 20px;
}
.column {
  flex: 1 0 30%;
  padding: 0 20px;

}

.card {
  position: relative;
  background: white;
  box-shadow: 0 10px 16px 0px rgb(19, 8, 8);
  border-radius: 4px;
  padding: 20px 40px 70px 40px;
  height: 80%;
  text-align: center;
  font-size: 30px;
}
.stars {
  max-width: 120px;
  left: 50%;
  position: absolute;
  bottom: -38px;
  transform: translate(-50%);
}

.card p {
  margin: 0;
}

h3 {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.calendar {
  display: block;
  text-align: center;
}
.Q {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(./Steam\ Images/Background2.png);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
}
.logo {
  padding: 5px;
  font-size: 1.6em;
}
.logo:hover {
  color: #ffd900;
  cursor: pointer;
}




