<style type="text/css">
     
​
      .body {
        
        background:lightskyblue;
       
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 90%;
        margin: 0px;
        text-align: center;
        
      }
      a {
        color: black;
        text-decoration: none;
      }
      a:hover {
        color: black;
      }
      .header {
        background-image: url(images/bd-header.jpg);
        padding: 0px 0px 0px 0px;
        height: 100px;
        position: fixed;
        top: 0px;
        width: 100%;
        z-index: 50;
      }
      .nav {
        border: 1px solid yellow;
        background-color: lightskyblue;
        float: right;
        font-family: sans-serif;
        padding: 10px 0px 0px 0px;
        text-align: right;
      }
      .wrapper {
        width: 960px;
        margin: 0px auto;
        background-image: url("images/bd-triangle.png");
        background-repeat: no-repeat;
        background-position: 0px;
        text-align: left;
      }
      

      .logo_2 {
      float:right
      
      
     
      }

      .logo_3 {
        float:right;
      }
      h1,
      h2 {
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-weight: normal;
        
      }
      h1 {
        font-size: 240%;
        margin-top: 140px;
        font-family: cursive;
      }
      
      
      
      .intro {
        clear: left;
        font-size: 90%;
        line-height: 1.4em;
      }
      .more-articles {
        border-top: black 1px;
        padding: 10px;
      }
      .more-articles p {
        border-bottom: burlywood 1px solid;
        padding: 5px 0px 15px 0px;
        font-size: 80%;

       
       
      }
      table {
      width: 950px;
      border-spacing: 0px;

    
      }

      table, th, td {
        border:1px solid yellow
        
      }

      th, td {
        padding:3px;
        text-align: center;
        background-color: lightskyblue;
      }
      footer {
   height: 60px;
   width: 100%;
   background-color: rgb(248, 248, 72);
   color: black;
   font-weight: 800;
   background: linear-gradient(to bottom, #f9f9f9,#8878e2 );
   padding: 20px;
 }

 .footer-links a:hover {
   color: #ffd900;
   cursor: pointer;
 }
 .footer-content {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   font-family: "Syne", sans-serif;
 }
 .footer-content li {
   line-height: 1.5em;
 }
 .footer-img img {
   width: 130px;
   padding-top: 10px;
 }
 .contact ul li {
   color: #313346;
 }
 .footer-bottom {
   font-family: "Syne", sans-serif;
   text-align: center;
   align-content: center;
   color: #ffd900;
 }
 .icon {
   margin: 5px;
 @@ -207,14 +285,14 @@ p.intro {
   text-align: center;
 }


 .wrapper {
   margin: 0 auto;
   max-width: 1200px;
   float: none;
 }
 .media {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   padding: 60px 20px 0 20px;
 }
 @@ -260,6 +338,25 @@ h3 {
   display: block;
   text-align: center;
 }
 .Q {
   text-align: center;
   align-items: center;
   justify-content: center;
   background-image: url(./Steam\ Images/Background2.png);
   background-size: 100%;
   background-attachment: fixed;
   background-position: center;
   width: 100%;
 }
 .logo {
   padding: 5px;
   font-size: 1.6em;
 }
 .logo:hover {
   color: #ffd900;
   cursor: pointer;
 }
    </style>